h2{
    padding-bottom: 10px;
    border-bottom: 5px solid;
}

svg {
    box-sizing: border-box;
    border: 10px dashed #c2c2c2;
    background-color: #fff;
}

.jumbotron .panel-body {
    background-color: #2b3e50;
}

.my-svg-app svg{
    margin: 10px 0;
    border: none;
    background-color: #FFF;
}
